.header-wrapper{
    background-color: rgb(99, 81, 81);
    height: 250px;
}
.header{
    color:rgb(214, 213, 213);
    text-align: center;
    padding-top: 90px;
     margin: 0;
}

body{
    margin:0;
    padding: 0;
}

.Posts{
    text-align: center;
}