
.header-wrapper{
    background-color: rgb(99, 81, 81);
    height: 250px;
}
.header{
    color:rgb(214, 213, 213);
    text-align: center;
    padding-top: 90px;
     margin: 0;
}

body{
    margin:0;
    padding: 0;
}




.Card-Posts{
margin-top: 150px;
border: 2px solid #e7e7e7;
border-radius: 4px;
width: 80%;
padding: .5rem;
text-align: center;
}

.Cards{
margin-top: 40px;
margin-left: 20px;
padding-top: 10px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 0.2rem;
}